name: "Publish new artifact version"

on:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true      

jobs:
  publish-artifact:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Create a new artifact version
        run: ./gradlew jar

      - name: Copy artifact to publish directory
        run: cp build/libs/*.jar dist/

      - name: Update and tag new artifact
        run: |
          git config --global user.name 'zebot'
          git config --global user.email 'zebot@users.noreply.github.com'
          NEW_TAG_VERSION=v$(date '+%Y%m%d')
          git add dist/*
          git diff-index --quiet HEAD || git commit -m "chore: updating artifact [skip ci]"
          git push
          git tag $NEW_TAG_VERSION
          git push origin $NEW_TAG_VERSION

      - name: Cleanup Gradle Cache
        # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
        # Restoring these files from a GitHub Actions cache might cause problems for future builds.
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
